<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/Site.css' />
  </head>

  <body>
    <div class="headerDiv">
        <div class="logoDiv">
            <img src="img/logo.jpg" alt="logo" href="#" />
        </div>

        <div class="titleDiv">
            <h1>Student Management System</h1>
        </div>
    </div>

    <marquee behavior="scroll" direction="left">If you are an admin, this application will help you to manage all the students' details and records.If you are a student,
        this application will help you to manage your personal details and records
    </marquee>

    <article class="articleDiv">
        <div id="bannerDiv">
            <img src="img/banner3.jpg" alt="banner2" href="#" />
        </div>
        <div id="loginIntroDiv">
            <h1>Welcome to the Student Application</h1>
            <form>
                <fieldset>
                    <legend>Login</legend>
                    <label>Email</label>
                    <input type="text" placeholder="Enter Email" size="30" required>
                    <br> 
                    <label>Password</label>
                    <input type="password" placeholder="Enter Password" size="30" required>
                    <br> 
                    <input type="submit" value="Login"/>
                </fieldset>
            </form>
            <label>Don't have account? <a href="Register">SignUp</a> here!</label>
        </div>
    </article>

    <section>
        Copyrights
    </section>
</body>
</html>
