body{
    background-color:rgb(238, 215, 215);
    margin-left:5em;
    margin-right: 5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.headerDiv {
    background-color: teal;
    height: 130px;
    width:100%;
    border-color: black;
    border-style: double;
}
        
.logoDiv {
width: 10em;
float: left;
margin-left:250px;
margin-top:0.5em;
margin-bottom: 0.5em; 
}

.logoDiv img{
    width:8em;
    height:6.8em;
}

.titleDiv{
    float:left;
    margin-top:4px;
    margin-left: 10px;
    font-size: 1.5em;
    color:black;
}

.articleDiv{
    height: 70%
}

.articleDiv #bannerDiv{
    width:60%;
    float:left;
    margin-top:0px;
}

.articleDiv #bannerDiv img{
    height: 100%;
    width:90%;
}

#loginIntroDiv{
    float:left;
    margin-top:1.8em;
}

#loginIntroDiv form{
    margin-top:30px;
}

legend, label{
    font-size:18px;
    margin-bottom: 10px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 8px 16px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
section{
    margin-top:445px;
    height:10%;
    background-color: teal;
}

